<p class="visitor-counter">
  Visitors since September 2026:
  <span id="visitor-count"></span>
</p>

<script>
  var gcCounterWait = setInterval(function () {
    if (window.goatcounter && window.goatcounter.visit_count) {
      clearInterval(gcCounterWait);

      window.goatcounter.visit_count({
        append: '#visitor-count',
        path: 'TOTAL',
        no_branding: true,
        style: `
          div {
            display: inline;
            border: 0;
            padding: 0;
            margin: 0;
            background: transparent;
            color: inherit;
            font: inherit;
          }

          #gcvc-for {
            display: none;
          }

          #gcvc-views {
            font: inherit;
            font-weight: 600;
          }
        `
      });
    }
  }, 100);
</script>

<script
  data-goatcounter="https://nevesely.goatcounter.com/count"
  async
  src="https://gc.zgo.at/count.js">
</script>